<div class="row r1">
        <p class="p1 d-flex justify-content-center">Turn your home into a</p>
        <p class="p12 d-flex justify-content-center">unique restaurant.</p>
</div>
<div class="row r2">
    <div class="col-md-5">
        <p class="p2 d-flex justify-content-center">Enjoy the experience</p>
        <p class="p2 d-flex justify-content-center">with a Chef in the</p>
        <p class="p2 d-flex justify-content-center">comfort of your own home.</p>
        <div class="row r3 d-flex justify-content-center">
                <button class="btn" (click)="getstarted()">Get Started</button>
                <br><br><br><br><br><br>
        </div>
    </div>
    <div class="col-md-6">
        <img src="chef1.jpeg" class="rounded float-start" alt="" width="48%">
        <img src="chef2.jpeg" class="rounded float-end" alt="" width="48%">
    </div>
</div>
<br><br>