<div class="panel-heading">
    <strong>Order history</strong>
</div>
<div class="container bootdey">
    <div class="panel panel-default panel-order" *ngFor="let o of allorderlist">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1 w"><img [src]="o.image" class="media-object img-thumbnail" /></div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12 w">
                            <span><strong>Dishname </strong></span> <span class="label"> {{o.dishname}}</span><br />
                            Cost: {{o.cost}}<br/>
                        </div>
                        <div class="col-md-12">Booking made on: {{currentDateAndTime()}}  by <span>{{o.username}} </span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>