<div class="container-fluid full">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-sm">
                <button class="btn btn-dark navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mynav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="mynav">
                        <ul class="navbar-nav">
                            <li class="nav-brand"><a routerLink="/admin/home" class="nav-link i1"><img
                                        src="https://imagetolink.com/ib/oa4PVzarxS.png" alt="" height="70px"
                                        width="70px"></a>
                            </li>
                            <li class="nav-item"><a routerLink="/admin/home/indian" class="nav-link">Home</a></li>
                            <li class="nav-item"><a routerLink="/admin/about" class="nav-link">About</a></li>
                            <li class="nav-item"><a routerLink="/admin/add" class="nav-link">Add Dish</a></li>
                            <li class="nav-item"><a routerLink="/admin/manage" class="nav-link">Manage items</a></li>
                            <li class="nav-item"><a routerLink="/admin/orders" class="nav-link">Orders</a></li>
                            <li class="nav-item dropdown">
                                <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                    <img rel="icon" src="https://imagetolink.com/ib/sjiuxNpN0H.jpg" alt="Profile"
                                        height="30px" width="30px">
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a routerLink="/admin/adminprofile"
                                            class="nav-link">Profile</a>
                                    </li>
                                    <li class="dropdown-item"><a routerLink="/admin/home" (click)="logout()" class="nav-link">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
